@tailwind base;
@tailwind components;
@tailwind utilities;
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1be8f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e09145;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #96581e;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --fondo: #f3f3f3;
  --fondo-header: #f3f3f33f;
  --fondo-secundario: #a8a8aa;
  --fondo-terciario: #7e838f;
  --color-base: #e09145;
  --color-secundario: #f1be8f;
  --contraste: #17181d; 
  --contraste-opacidad: #17181dc7; 
  --text-invertido: #fff;
  --text-colores: #fff;
}

[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;

  --fondo: #17181d;
  --fondo-header: #17181d41;
  --fondo-secundario: #2e3138;
  --fondo-terciario: #5e636e;
  --color-base: #e09145;
  --color-secundario: #f1be8f;
  --contraste: #f3f3f3;
  --contraste-opacidad: #f3f3f3cb;
  --text-invertido: #000000;
  --text-colores: #e09145;
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
